fastapi
uvicorn
pydantic
langchain
langchain_community
langchain-core
langchain-groq
groq
python-dotenv
faiss-cpu
sentence-transformers
numpy
loguru
regex
mysql-connector-python
sqlalchemy
pyjwt
bcrypt
slowapi