fastapi
uvicorn
pydantic
openai
python-dotenv
faiss-cpu
sentence-transformers
numpy
loguru
regex
mysql-connector-python
sqlalchemy
pyjwt
bcrypt
slowapi
pymupdf>=1.24.9
tqdm>=4.66.4
python-multipart
boto3